[submodule "fiesta-buttons"]
	path = fiesta-buttons
	url = git@github.com:semteXKG/fiesta-buttons.git
[submodule "fiesta-hardware"]
	path = fiesta-hardware
	url = git@github.com:semteXKG/fiesta-hardware.git
[submodule "pitstopper"]
	path = pitstopper
	url = git@github.com:semteXKG/pitstopper.git
[submodule "carpi"]
	path = carpi
	url = git@github.com:semteXKG/carpi.git
[submodule "pitcrew"]
	path = pitcrew
	url = git@github.com:semteXKG/pitcrew.git
[submodule "fiesta-can-bridge"]
	path = fiesta-can-bridge
	url = https://github.com/semteXKG/fiesta-can-bridge
[submodule "fiesta-led"]
	path = fiesta-led
	url = git@github.com:semteXKG/fiesta-led.git
