[submodule "fiesta-buttons"]
	path = fiesta-buttons
	url = git@github.com:semteXKG/fiesta-buttons.git
[submodule "fiesta-hardware"]
	path = fiesta-hardware
	url = git@github.com:semteXKG/fiesta-hardware.git
